<div class="form-group">
	<h2 align=center class="text-white">DISPLAY ORDER</h2>
</div>
<form  #myForm="ngForm">
    <div class="form-group">
    <table align=center>
        <tr>
            <th><h5 class="text-white">DISTRIBUTOR ID</h5></th>
            <td>
			<div class="form-group">
                <input type=text required #ord="ngModel" [class.is-invalid]="ord.touched && ord.invalid " name="distributorId" class="form-control" [(ngModel)]="distributorId">
                <div *ngIf="ord.errors && ord.touched">
                        <small class="text-danger"    *ngIf="ord.errors.required">DistributorId is required</small>
                    </div>
        </div>
            </td>
    </tr>
    <tr>
        <th><h5 class="text-white">DELIVERY STATUS</h5></th>
        <td>
<div class="form-group">
 <input type=text required #ord="ngModel" [class.is-invalid]="ord.touched && ord.invalid " name="deliverystatus" class="form-control" [(ngModel)]="deliverystatus">
 <div *ngIf="ord.errors && ord.touched">
         <small class="text-danger"    *ngIf="ord.errors.required">deliverystatus is required</small>
</div>
</div>
  </td>
</tr>
<tr>
    <th><h5 class="text-white">START DATE</h5></th>
    <td>
        <div class="form-group">		
            <input type=date required class="form-control" name="sd" [(ngModel)]="startDate">
        </div>
    </td>
</tr>
<tr>
    <th><h5 class="text-white">END DATE</h5></th>
    <td>
        <div class="form-group">		
            <input type=date  required  class="form-control" name="ed" [(ngModel)]="endDate">
        </div>
    </td>
</tr>
<tr>
    <td>
      <div class="form-group">
        <input type=submit value="SUBMIT" [disabled]="myForm.invalid" class="btn btn-primary text-white" (click)="displayOrder()">
      </div>
    </td>
      <td>
        <div class="form-group">
          <input type=reset value="CANCEL" class="btn btn-warning text-white">
        </div>
      </td>
    </tr>
</table>
</div>
</form>
<div class="container">
  <div *ngIf="dis">
<table align=center class="table table-striped text-white table-bordered">
  
  <thead>
	<tr>
		<th>orderId</th>
		<th>productname</th>
		<th>priceperunit</th>
		<th>quantityvalue</th>
        <th>totalprice</th>
		<th>warehouseId</th>
        <th>distributorId</th>
        <th>dateoforder</th>
        <th>dateofdelivery</th>
        <th>manufacturingdate</th>
        <th>expirydate</th>
        <th>deliverystatus</th>
        <th>productid</th>
		
  </tr>
  </thead>
  <tbody>
	<tr *ngFor="let t of orders">
		<td>{{t.orderId}}</td>
		<td>{{t.productname}}</td>
		<td>{{t.priceperunit}}</td>
		<td>{{t.quantityvalue}}</td>
		<td>{{t.totalprice}}</td>
		<td>{{t.warehouseId}}</td>
        <td>{{t.distributorId}}</td>
        <td>{{t.dateoforder}}</td>
        <td>{{t.dateofdelivery}}</td>
        <td>{{t.manufacturingdate}}</td>
        <td>{{t.expirydate}}</td>
        <td>{{t.deliverystatus}}</td>
        <td>{{t.productId}}</td>
  </tr> 
  </tbody>
</table>
  </div>
</div>