<div class="form-group">
	<h2 align=center class="text-white">DISPLAY DISTRIBUTOR FORM</h2>
</div>
<form  #myForm="ngForm">
    <div class="form-group">
    <table align=center>
        <tr>
			<th><h5 class="text-white">DISTRIBUTOR ID</h5></th>
			<div class="form-group">
                <input type=text required #ord="ngModel" [class.is-invalid]="ord.touched && ord.invalid " name="distributorId" class="form-control" [(ngModel)]="distributorId">
                <div *ngIf="ord.errors && ord.touched">
                        <small class="text-danger"    *ngIf="ord.errors.required">DistributorId is required</small>
                    </div>
        </div>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <input type=submit value="SUBMIT" [disabled]="myForm.invalid" class="btn btn-primary text-white" (click)="displayDistributor()">
        </div>
      </td>
        <td>
          <div class="form-group">
            <input type=reset value="CANCEL" class="btn btn-warning text-white">
          </div>
        </td>
      </tr>
  </table>
  </div>
  </form>
  <div class="container">
    <div *ngIf="dis">
  <table align=center class="table table-striped text-white table-bordered">
    
    <thead>
    <tr>
      <th>distributorId</th>
      <th>name</th>
      <th>address</th>
      <th>phoneno</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{orders.distributorId}}</td>
      <td>{{orders.name}}</td>
      <td>{{orders.address}}</td>
      <td>{{orders.phoneno}}</td>
    </tr> 
    </tbody>
  </table>
    </div>
  </div>