<div class="container my-3">
	<h1 style="color:rgba(226, 238, 235 );">Drink and Delight Inventory Management System</h1>
   </div>
<div>
		<pre><a routerLink="/productspecs" ><button type="button" class="btn  btn-dark text-white btn-lg">PLACE ORDER</button></a>   <a routerLink="/updateorder"><button type="button" class="btn btn-dark text-white btn-lg">UPDATE ORDER</button></a>    <a routerLink="/displayorder" ><button type="button" class="btn btn-dark text-white btn-lg">DISPLAY ORDER</button></a>     <a routerLink="/trackorder" ><button type="button" class="btn btn-dark text-white btn-lg">TRACK ORDER</button></a>     <a routerLink="/displaydistributor" ><button type="button" class="btn btn-dark text-white btn-lg">DISPLAY DISTRIBUTOR DETAILS</button></a></pre>
</div>
<div class="container my-3">
	<pre>
	
	<router-outlet></router-outlet>
	</pre>
</div>